header .nav a, header span{
    text-transform: capitalize;
    font-size: 20px;
}

header{
    font-size: 20px;
}

#AboutMe img{
    border-radius: 50%;
    width: 100%;
}

#AboutMe p{
    font-size: 25px;
}

.card-text a{
    text-transform: uppercase;
}